$color-primary: #58e1c1;
$color-secondary: #fff;
$color-thirdendary: #777;
$default-color: #51ddfc;
$because-i-need-five: #e4757a;


/*---Sizes---*/
$standard-br: 5px;

$flexb: 100%;

$w: 100%;

$padzero: 0;
