.nav {
  padding-left: $padzero;
  flex-basis: $flexb;
  display: flex;
  flex-direction: column;

        @media (min-width: 768px) {
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
      }
}

.nav-link {
  text-align: center;
  border-radius: $standard-br;
  padding: 10px $padzero;
  display: block;
  width: $w;
  transition:
    background-color .2s ease-in-out,
    color .2s ease-in-out;

      @media (min-width: 768px) {
        flex-basis: $flexb;
    }
}

.nav-link:hover {
  color: $color-secondary;
  background-color: $color-primary;
}
